<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.jansmi.scheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SubmitArrangementActivity"
            android:label="@string/title_activity_submit_arrangement"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.MeasureActivity"
            android:label="@string/title_activity_measure"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TargetActivity"
            android:label="@string/title_activity_target"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SelectTasksActivity"
            android:label="@string/title_activity_select_tasks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SelectUsersActivity"
            android:label="@string/title_activity_select_users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewInvitationActivity"
            android:label="@string/title_activity_new_invitation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewTrainingSelectDisciplineActivity"
            android:label="@string/title_activity_new_training_select_discipline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewStudyingSelectSubjectActivity"
            android:label="@string/title_activity_new_studying_select_subject"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewStudyingActivity"
            android:label="@string/title_activity_new_studying"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SelectMealIngredientsActivity"
            android:label="@string/title_activity_select_meal_ingredients"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TagsActivity"
            android:label="@string/title_activity_tag"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddSubjectActivity"
            android:label="@string/title_activity_add_subject"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SubjectsActivity"
            android:label="@string/title_activity_subjects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddDisciplineActivity"
            android:label="@string/title_activity_add_discipline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddIngredientActivity"
            android:label="@string/title_activity_add_ingredient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.IngredientsActivity"
            android:label="@string/title_activity_ingredients"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddCategoryActivity"
            android:label="@string/title_activity_add_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddTagActivity"
            android:label="@string/title_activity_add_tag"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SelectTagsActivity"
            android:label="@string/title_activity_select_tags"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddMealActivity"
            android:label="@string/title_activity_add_meal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MealsActivity"
            android:label="@string/title_activity_meals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DisciplinesActivity"
            android:label="@string/title_activity_disciplines"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InvitationsActivity"
            android:label="@string/title_activity_invitations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewTaskActivity"
            android:label="@string/title_activity_new_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewTrainingActivity"
            android:label="@string/title_activity_new_training"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SelectMealsActivity"
            android:label="@string/title_activity_select_meal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddArrangementActivity"
            android:label="@string/title_activity_add_arrangement" />
        <activity
            android:name=".activities.ArrangementsActivity"
            android:label="@string/title_activity_arrangements_activity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>